html, body {
    margin: 0;
    padding: 0;
}
.yape {
    width: 100%;
    height: 100%;
    background-color: #6c158b;
    font-family: sans-serif;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.yape .logo {
    width: 10rem;
    padding: 1.5rem
}
.yape .qr {
    width: 20rem;
    border-radius: 2rem;
    margin-top: 6rem;
}
.yape .description {
    color: white;
    text-align: center;
    padding: 1.4rem;
}